ul { 
    list-style: none; /*tirar bolinhas*/
    padding: 0%;
}

nav {
    background-color: black; /*faixa preta*/
    padding: 15px 15px;
}

nav a {
    text-decoration: none; /*tirar borda azul de link*/
    color: aliceblue; /*cor da letra*/
    padding: 15px; /*espaçamento*/
    font-size: large;
}

nav ul {
    display: flex; 
    justify-content: flex-end;
    list-style: none;
}

.center{
    text-align: center;
}

p{
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}